.r-head {
  margin-bottom: 2rem;
}

.r-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-card:hover {
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(70, 68, 68, 0) 0%,
    rgba(114, 135, 216, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}

.r-card > img {
  width: 100%;
  max-width: 15rem;
}

.r-card > :nth-child(2) {
  font-weight: 600;
  font-size: 1.2rem;
}

.r-card > :nth-child(3) {
  font-size: 1.5rem;
}
.r-card > :nth-child(4) {
  font-size: 0.7rem;
  width: 15rem;
}
