.r-head {
  margin-bottom: 2rem;
}

.r-card {
  gap:0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-card>img {
  width: 100%;
  max-width: 15rem;
}

.r-card>:nth-child(2) {
  font-weight: 600;
  font-size: 1.2rem;
}